@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto';
}

.form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px 10px 10px 10px;
}

.list {
  box-sizing: border-box;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 0px 0 0;
  
}

.item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
}

.item-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 10px 15px;
  font-size: 0.9rem;
}
.date-box {
  box-sizing: border-box;
  position: relative;
  margin-right: 20px;
}

.label {
  position: absolute;
  top: -20px;
  font-size: 0.8em;
}

.date {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  
}

.distance {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}

.distance-box {
  box-sizing: border-box;
  position: relative;
  margin-right: 20px;
}

.label-distance {
  box-sizing: border-box;
  font-size: 0.8em;
  top: -20px;

}

.submit {
  padding: 5px 35px 5px 35px;
  margin-left: auto;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}

.submit:active {
  transform: rotate(0.01turn);
}

.change {
  margin-left: auto;
  padding: 5px;
  font-size: 1rem;
  user-select: none;
  color: gray;
}

.delete {
  padding: 5px;
  font-size: 1rem;
  user-select: none;
  color: gray;

}

.change:hover {
  color: black;
}

.delete:hover {
  color:black;
}

.change:active {
  transform: rotate(0.1turn);
}

.delete:active {
  transform: rotate(0.05turn);
}

.date-item {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  margin-right: 20px;
  user-select: none;
  
  
}

.distance-item {
  width: 420px;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 5px 12px 5px 5px;
  font-size: 1rem;
  overflow: hidden;
  user-select: none;
  text-align: center;
  
}

